body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    margin-top: 50px;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 640px;
    height: auto;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#video-feed {
    width: 100%;
    border-radius: 10px;
}

#emotion, #emotion-stats {
    font-size: 20px;
    color: #555;
    text-align: center;
    margin-top: 20px;
}

.btn {
    margin-top: 10px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
